table {
  width: 100%;
  border-collapse: collapse;
  /* border-spacing: 10px; */
}

th {
  color: #3d7cb2;
  font-weight: 600;
  font-size: medium;
}

th,
td {
  text-align: left;
  padding: 8px 12px;
  font-size: 10px;
  font-weight: 600;
}
.text-bold {
  font-size: 14px;
  font-weight: 700;
}
.text-medium {
  font-size: 13px;
  font-weight: 600;
}
.text-small {
  font-size: 10px;
  font-weight: 600;
}

tbody tr {
  background-color: #fff;
}

.source-text {
  position: absolute;
  font-size: 0.75rem;
  bottom: 1.25rem;
  left: -1rem;
}

.dest-text {
  position: absolute;
  font-size: 0.75rem;
  font-size: 0.75rem;
  bottom: 1.25rem;
  right: 1.25rem;
}

.sub-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25rem;
}

.w-8 {
  width: 10%;
  padding-top: 0;
}

.progress {
  display: inline-block;
  height: 1rem;
  background-color: #d6bbfa;
  border-radius: 10%;
}

.vehicle {
  justify-content: start;
  gap: 1rem;
}

.quantity {
  justify-content: start;
  gap: 4rem;
}

.label {
  background-color: #bef0f4;
  margin: 0 0.25rem;
}
